/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

html {
  /* Making 1rem to 10px */
  font-size: 62.5%;
}

/* Element Selector */
h1 {
  font-size: 3rem;
}

/* Class Selectors */
.box {
  width: 200px;
  height: 200px;
  margin: 10px;
}
.red {
  background-color: red;
   box-shadow: 10px 0 20px  rgba(0, 0, 0,0.2);
   border-radius: 10px;
}

.purple {
  background-color: purple;
  box-shadow: inset 10px 0 10px 10px rgba(255, 255, 255,0.2);
}
