/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}

html {
  /* Making 1rem to 10px */
  font-size: 62.5%;
}

/* Element Selector */
h1 {
  font-size: 3rem;
}

/* Class Selectors */
.box {
  width: 200px;
  height: 200px;
  margin: 10px;
}
.red {
  background-color: red;
}

.purple {
  background-color: purple;
}
