@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-300: hsl(0, 0%, 96%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --grey-600: hsl(217, 19%, 28%);
  --grey-700: hsl(217, 19%, 22%);
  --grey-800: hsl(217, 19%, 15%);
  --grey-900: hsl(217, 19%, 10%);

  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  --text-primary: #9fa3aa;
  --text-secondary: #8e949d;
  --clr-secondary-400: 217 19% 35%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--grey-300);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flex div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

main {
  padding: 2rem;
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  grid-template-areas:
    "one one two five"
    "three four four five";
}

.testimonial {
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.testimonial img {
  border-radius: 50%;
  width: 2rem;
  aspect-ratio: 1;
}

.testimonial .name {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--grey-100);
}

.testimonial .education {
  font-size: 0.75rem;
  color: var(--grey-300);
  font-weight: 500;
  opacity: 0.9;
}

.testimonial > p {
  margin-top: 1.1rem;
}

.testimonial .headline {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--grey-300);
}
.testimonial .cmnt {
  color: var(--grey-100);
  font-size: 0.9rem;
  opacity: 0.9;
}

.testimonial:nth-child(1) {
  background-color: var(--purple-500);
  grid-area: one;
}
.testimonial:nth-child(2) {
  background-color: var(--grey-400);
  grid-area: two;
}
.testimonial:nth-child(3) {
  background-color: var(--white);
  color: var(--grey-400);
  grid-area: three;
  .name {
    color: var(--grey-500);
  }
  .education {
    color: var(--grey-400);
  }
  .headline {
    color: var(--grey-500);
    padding-right: 2rem;
  }
  .cmnt {
    color: var(--grey-600);
    opacity: 1 !important;
    font-weight: 500;
  }
}
.testimonial:nth-child(4) {
  background-color: var(--dark-blue);
  grid-area: four;

  .name {
    opacity: 0.8;
  }
  .education {
    opacity: 0.8;
  }
  .headline {
    color: var(--text-primary);
  }
  .cmnt {
    color: var(--grey-100);
    opacity: 0.8;
  }
}
.testimonial:nth-child(5) {
  background-color: var(--white);
  grid-area: five;
  .name {
    color: var(--grey-500);
  }
  .education {
    color: var(--grey-400);
  }
  .headline {
    color: var(--grey-500);
    padding-right: 2rem;
  }
  .cmnt {
    color: var(--grey-600);
    opacity: 1 !important;
    font-weight: 500;
  }
}
